# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Flutter & Build Artifacts
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
